*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image: url("fond.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}


.container{
    margin-top:80px;
    margin-bottom:80px;
}
.logo{
    position:fixed;
    top:20px;
    left:20px;
    width:90px;
    height:auto;
}
h2{
    text-align:center;
    color:black;
    margin-top:15px;
    margin-bottom:40px;
}
label{

    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;

}

input,
textarea{
    width:100%;
    padding:12px;
    border:2px solid #87CEEB;
    border-radius:10px;
    font-size:16px;
    background-color:#DFF6FF;   /* Bleu clair */
    color:#000;
    outline:none;
    transition:0.3s;
}
input:focus,
textarea:focus{
    background-color:#CDEFFF;
    border-color:#1E90FF;
    box-shadow:0 0 8px rgba(30,144,255,0.4);
}
button{

    width:100%;
    margin-top:25px;
    padding:15px;
    border:none;
    border-radius:8px;
    background:#007BFF;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;

}

button:hover{

    background:#005ec4;

}

#success{

    color:green;
    text-align:center;
    font-weight:bold;
    margin-top:20px;
    display:none;

}